#
# Requirements file for running documentation Jupyter notebook.
# 1) Create a virtual python environment:
#    $ uv venv --python 3.13
# 2) Activate the environment:
#    $ source .venv/bin/activate
# 3) Install these Python packages:
#    $ pip install -r requirements.txt
# 4) Start a Jupyter notebook server:
#    $ jupyter lab
# 5) Click on the Swath Projector User Guide notebook.
#
harmony-py==1.5.0
matplotlib==3.10.8
netCDF4==1.7.4
notebook==7.6.2
